<form [formGroup]="examForm" class="md:mx-10 my-10">
  <p class="font-medium text-base underline">
    Formulario para añadir calificaciones:
  </p>
  <div class="grid grid-cols-1">
    <mat-form-field appearance="outline" color="accent" class="full-width">
      <mat-label>Alumno</mat-label>
      <mat-select formControlName="student">
        <mat-option *ngFor="let student of students" [value]="student.id"
          >{{ student.first_name }} {{ student.last_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline" color="accent" class="full-width">
      <mat-label>Asignatura</mat-label>
      <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">{{
          subject.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="full-width">
      <mat-label>Calificación</mat-label>
      <input matInput type="number" formControlName="score" />
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" color="accent" class="full-width">
    <mat-label>Fecha de realización</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      (click)="picker.open()"
      formControlName="examDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      color="accent"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" color="accent">
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <p></p>
  <button
    mat-raised-button
    type="button"
    color="accent"
    [disabled]="!examForm.valid"
    (click)="saveExamScore()"
  >
    Guardar
  </button>
</form>

<div
  *ngIf="success"
  class="bg-green-200 px-6 py-4 mx-2 my-4 rounded-md text-lg flex items-center mx-auto w-full"
>
  <svg viewBox="0 0 24 24" class="text-green-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
    <path
      fill="currentColor"
      d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"
    ></path>
  </svg>
  <span class="text-green-800"> Nota añadida </span>
</div>
