<div class="md:border-solid md:border-l md:border-black md:border-opacity-25">
  <!-- Imagen y nombre del profesor -->
  <div class="top h-64 w-full bg-blue-600 overflow-hidden relative">
    <img
      src="assets/images/space.jpg"
      class="bg w-full h-full object-cover object-center absolute z-0"
    />
    <div
      class="
        flex flex-col
        justify-center
        items-center
        relative
        h-full
        bg-black bg-opacity-50
        text-white
      "
    >
      <img
        src="assets/images/teacher-avatar.png"
        class="h-24 w-24 object-cover rounded-full"
      />
      <h1 class="text-2xl font-semibold">Antonia Howell</h1>
    </div>
  </div>
  <!-- Informacion del perfil del profesor -->
  <div class="h-full pb-12">
    <div class="px-4 pt-4">
      <form class="flex flex-col space-y-8">
        <div>
          <h3 class="text-2xl font-semibold">Información de profesor</h3>
          <hr />
        </div>

        <div class="form-item">
          <label class="text-xl">Nombre completo</label>
          <input
            type="text"
            value="Juan Moreno"
            class="
              w-full
              appearance-none
              text-black text-opacity-50
              rounded
              shadow
              py-1
              px-2
              mr-2
              focus:outline-none
              focus:shadow-outline
              focus:border-blue-200
            "
            disabled
          />
        </div>

        <div
          class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4"
        >
          <div class="form-item w-full">
            <label class="text-xl">Departamento</label>
            <input
              type="text"
              value="Matemáticas"
              class="
                w-full
                appearance-none
                text-black text-opacity-50
                rounded
                shadow
                py-1
                px-2
                mr-2
                focus:outline-none
                focus:shadow-outline
                focus:border-blue-200
                text-opacity-25
              "
              disabled
            />
          </div>

          <div class="form-item w-full">
            <label class="text-xl">Clase</label>
            <input
              type="text"
              value="Rosas"
              class="
                w-full
                appearance-none
                text-black text-opacity-50
                rounded
                shadow
                py-1
                px-2
                mr-2
                focus:outline-none
                focus:shadow-outline
                focus:border-blue-200
                text-opacity-25
              "
              disabled
            />
          </div>
        </div>

        <div
          class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4"
        >
          <div class="form-item w-full">
            <label class="text-xl">Email</label>
            <input
              type="text"
              value="antoniaph@gmail.com"
              class="
                w-full
                appearance-none
                text-black text-opacity-50
                rounded
                shadow
                py-1
                px-2
                mr-2
                focus:outline-none
                focus:shadow-outline
                focus:border-blue-200
                text-opacity-25
              "
              disabled
            />
          </div>
          <div class="form-item w-full">
            <label class="text-xl">Nº de contacto</label>
            <input
              type="text"
              value="624849238"
              class="
                w-full
                appearance-none
                text-black text-opacity-50
                rounded
                shadow
                py-1
                px-2
                mr-2
                focus:outline-none
                focus:shadow-outline
                focus:border-blue-200
                text-opacity-25
              "
              disabled
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
