<div class="mt-6 md:mx-10" *ngIf="task && student">
  <div class="flex flex-row gap-6 mb-10 items-center">
    <p class="text-lg md:text-2xl">
      Tarea de {{ student.first_name }} {{ student.last_name }}
    </p>
    <!-- Boton de volver -->
    <button
      mat-flat-button
      color="accent"
      style="margin-bottom: 12px"
      (click)="goBack()"
    >
      Volver
    </button>
  </div>
  <div class="md:ml-16">
    <!--Nombre de la asignatura y descripcion de la tarea propuesta para el alumno -->
    <div>
      <div class="grid grid-cols-2 gap-6">
        <p class="text-base md:text-lg underline pb-4">
          Asignatura: {{ task.subject_name }}
        </p>
        <!-- Fecha de entrega -->
        <mat-card class="text-center">
          <p class="text-lg">Fecha de entrega</p>
          <mat-card-subtitle
            >Entregado el:
            {{ task.delivery_date | date: "dd/MM/yy" }}</mat-card-subtitle
          >
        </mat-card>
      </div>

      <p [innerHTML]="task.description"></p>
    </div>
    <!-- Respuesta del alumno a la tarea -->
    <div>
      <p class="font-bold pt-8 pb-2 underline">Respuesta del alumno:</p>
      <p [innerHTML]="task.response"></p>
    </div>

    <!-- Poner nota -->
    <div class="mt-10">
      <form
        [formGroup]="evaluationForm"
        class="grid grid-cols-2 gap-4 items-center"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Nota</mat-label>
          <input matInput type="number" formControlName="qualification" />
        </mat-form-field>
        <div style="padding-bottom: 1.34375em">
          <button
            mat-flat-button
            color="accent"
            type="button"
            (click)="markAsEvaluated()"
            [disabled]="!evaluationForm.valid"
          >
            Evaluar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
