<div class="mt-6 md:mt-10 mb-16">
  <div>
    <div class="flex flex-row space-x-6 mb-4">
      <p class="text-2xl" style="margin: 0px">
        Información de alumno #{{ profile.id }}
      </p>
      <button
        mat-flat-button
        color="accent"
        (click)="activateForm()"
        class=""
        *ngIf="!saveButton"
      >
        Editar
      </button>
    </div>

    <p class="text-base">Edad: {{ age }}</p>
  </div>
  <form [formGroup]="modifyForm">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <mat-form-field appearance="outline" color="accent" class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="w-full">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-radio-group
        aria-label="Select an option"
        class="mt-4 md:ml-4"
        formControlName="gender"
      >
        <mat-radio-button
          value="1"
          class="mr-4"
          *ngIf="modifyForm.get('gender').value == 1 || saveButton"
          >Masculino</mat-radio-button
        >
        <mat-radio-button
          value="2"
          *ngIf="modifyForm.get('gender').value == 2 || saveButton"
          >Femenino</mat-radio-button
        >
      </mat-radio-group>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        color="accent"
        class="w-full"
        color="accent"
        class="lg:col-span-2"
      >
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        color="accent"
        class="w-full"
        color="accent"
      >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        color="accent"
        class="w-full"
        color="accent"
      >
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Clase</mat-label>
        <mat-select formControlName="classroom">
          <mat-option
            *ngFor="let classroom of classrooms"
            [value]="classroom.id"
          >
            {{ classroom.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-1 lg: grid-cols-2 gap-6">
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="saveChanges()"
        *ngIf="saveButton"
      >
        Guardar cambios
      </button>
      <button
        mat-flat-button
        color="accent"
        *ngIf="saveButton"
        (click)="cancelAction()"
      >
        Cancelar
      </button>
    </div>
  </form>

  <div
    class="alert flex flex-row items-center bg-green-200 p-5 rounded border-b-2 border-green-300"
    *ngIf="success"
  >
    <div
      class="alert-icon flex items-center bg-green-100 border-2 border-green-500 justify-center h-10 w-10 flex-shrink-0 rounded-full"
    >
      <span class="text-green-500">
        <svg fill="currentColor" viewBox="0 0 20 20" class="h-6 w-6">
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </span>
    </div>
    <div class="alert-content ml-4">
      <div class="alert-title font-semibold text-lg text-green-800">Exito</div>
      <div class="alert-description text-sm text-green-600">
        Información cambiada!
      </div>
    </div>
  </div>
</div>
