<div class="flex items-center min-h-screen bg-blue-50">
  <div class="container mx-auto">
    <mat-card class="max-w-xl mx-auto my-10 bg-white">
      <!-- Titulo para recuperar contraseña  -->
      <div class="text-center">
        <h1
          class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Reestablecer contraseña
        </h1>
        <p class="text-gray-500 dark:text-gray-400">
          Introduce tus datos y te enviaremos un correo para restaurar la
          contraseña
        </p>
      </div>

      <!-- Formulario para recuperar contraseña -->
      <div class="m-7">
        <form [formGroup]="restoreForm">
          <!-- Introducir usuario -->
          <div class="mb-6 md:mx-10">
            <label
              for="user"
              class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
              >Usuario</label
            >
            <input
              type="text"
              name="user"
              id="user"
              formControlName="user_name"
              placeholder="John1345"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-pink-200 focus:border-pink-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
            />
          </div>
          <!-- Introducir email -->
          <div class="mb-6 md:mx-10">
            <label
              for="email"
              class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              placeholder="you@company.com"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-pink-200 focus:border-pink-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
            />
          </div>

          <!-- Boton -->
          <div class="mb-6 md:mx-10">
            <button
              mat-flat-button
              color="accent"
              class="w-full px-3 py-4"
              (click)="restorePassword()"
              [disabled]="!restoreForm.valid"
            >
              Registrarse
            </button>
          </div>
          <a
            [routerLink]="['/iniciar-sesion']"
            class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800"
            >Volver</a
          >
        </form>
      </div>
    </mat-card>
  </div>
</div>
